@import '../../styles/variables.scss';

@media (min-width: 1256px) {
   .stats {
      .users-cards {
         max-width: 1256px;
         .users-serch {
            &__input {
               background: $blurBackground;
               border: 1px solid $orangeBorder;
               margin: 1px;
               &::placeholder {
                  color: #785d3d;
               }
               &:focus-visible {
                  outline: none;
                  border: 2px solid $orangeBorderActive;
                  margin: 0;
               }
            }
            &__btn {
               color: #a27d51;
               transition: 0.2s;
               &:hover {
                  background: rgba(165, 105, 36, 0.2);
               }
            }
            &__btns {
               margin-left: 2px;
            }
         }
      }
   }
}
