$orangeBorder: #ff6b00;

.stats {
   &__top-content {
      &__graphics {
         grid-template-columns: repeat(auto-fit, 600px);
         gap: 40px;
         .graphic {
            &__wrapper {
               background: rgba(24, 24, 24, 0.5);
               border: 1px solid $orangeBorder;
               backdrop-filter: blur(35px);
               border-radius: 10px;
            }
            &__descr {
               border-bottom: 1px solid $orangeBorder;
               &__title {
                  p {
                     height: fit-content;
                     border-radius: 3px;
                     margin: 1px 0 0 -24px;
                  }
                  .green-text {
                     background: rgba(82, 255, 0, 0.3);
                     color: #00ff19;
                  }
                  .orange-text {
                     background: rgba(255, 214, 0, 0.2);
                     color: #ff8a00;
                  }
               }
               &__online {
                  .title {
                     color: #ffb68d;
                  }
               }
            }
            &__chart {
               margin: 10px -2px -7px -8px;
            }
         }
      }
   }
}
