@import './styles/imports.scss';
@import './styles/variables.scss';

// главные стили
::-webkit-scrollbar {
   height: 100%;
   width: 10px;
}
::-webkit-scrollbar-track {
   background: $background;
}
::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background: #8b3d069a;
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
   font-family: 'inter';
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: $background;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   color: #fff;
   text-transform: inherit;
}

main {
   margin-top: 77px;
   // min-height: 100vh;
   flex: 1 1 auto;
}
