.faq {
   ul {
      li {
         list-style-type: none;
         margin: 0;
         padding: 0;
         font-size: 18px;
      }
      .b {
         &::before {
            font-weight: 700;
            content: 'Вопрос: ';
         }
      }
      .o {
         margin-bottom: 20px;
         &::before {
            font-weight: 700;
            content: 'Ответ: ';
            color: #fff;
         }
      }
   }
}
