@import '../../../styles/variables.scss';

.stats {
   .graphics {
      gap: 20px;
      .graphic {
         &__wrapper {
            width: 400px;
            background: $blurBackground;
            border: 2px solid $orangeBorder;
            border-radius: 10px;
         }
         &__descr {
            border-bottom: 1px solid $orangeBorder;
            &__title {
               p {
                  height: fit-content;
                  border-radius: 3px;
                  margin: 1px 0 0 -24px;
               }
               .green-text {
                  background: rgba(82, 255, 0, 0.3);
                  color: $creativeColor;
               }
               .orange-text {
                  background: rgba(255, 214, 0, 0.2);
                  color: $roleplayColor;
               }
               .purple-text {
                  background: #b300ff41;
                  color: $adventureColor;
               }
            }
            &__online {
               .title {
                  color: #ffb68d;
               }
            }
         }
         &__chart {
            margin: 10px -2px -8px -8px;
         }
      }
   }
}
