@import '../../../styles/variables.scss';

.profile__main {
   .role {
      padding: 5px 12px 5px 9px;
      border-radius: 50px;
      &__circle {
         width: 11px;
         height: 11px;
      }
      h6 {
         font-size: 13px;
      }
   }

   .head {
      img {
         width: 340px;
         height: 200px;
      }
   }

   .create-post {
      textarea {
         min-height: 100px;
         max-height: 300px;
         padding: 9px 13px;
         &::placeholder {
            color: $orangePlaceholderColor;
         }
         &:focus-visible {
            border: 2px solid $orangeBorder;
            padding: 8px 12px;
         }
      }
      button {
         font-size: 15px;
         padding: 8px 35px;
      }
      .support-btns {
         .sup-btn {
            width: 35px;
            height: 35px;
            padding: 10px;
            border: 1px solid $orangeBorder;
            border-radius: 8px;
            cursor: pointer;
            z-index: 1;
            &__close {
               z-index: 10;
               top: -5px;
               right: -15px;
               cursor: pointer;
            }
         }
         .file-input-active {
            border: 1px solid $orangeBorderActive;
         }
      }
   }

   .bg-ellipse {
      &__orange {
         width: 70%;
         height: 80%;
         top: 5%;
         right: 5%;
         background: rgba(255, 122, 0, 0.04);
      }
   }

   .user-post {
      background: #24211e;
      &__date {
         color: #58524d;
      }
      &__content {
         color: #c8bdb3;
      }
   }
}

.change-profile-modal {
   .modal-dialog {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;
   }
   .modal-content {
      padding: 30px;
      color: #fff;
      background: $background;
      border: 1px solid $orangeBorder;
      .modal-header {
         justify-content: center;
         svg {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            path {
               stroke: #fff;
               stroke-linecap: round;
               stroke-linejoin: round;
               stroke-width: 2;
            }
         }
         border: none;
         padding: 0 0 15px 0;
      }
      .modal-body {
         padding: 20px 0 0 0;
         input,
         textarea {
            background: $inputBackground;
            &:focus-visible {
               border: 2px solid $orangeBorderActive;
            }
            &::placeholder {
               color: $inputPlaceholderColor;
            }
         }
         input {
            margin: 2px;
            &:focus-visible {
               margin: 0;
            }
         }
         textarea {
            min-height: 100px;
            max-height: 200px;
            padding: 12px;
            &:focus-visible {
               padding: 10px;
            }
         }
         .gray-line {
            background: #332e2a;
         }
      }
   }
}
