.notifications-page {
   max-width: 1100px;
   margin: 30px auto;
   .notifications {
      &-null {
         text-align: center;
         margin: 30px 0;
      }
      &__new {
         margin: 20px 0;
         padding: 5px 0 10px;
         border-bottom: 1px solid #c02a2a;
         &__title {
            display: flex;
            align-items: center;
            h5 {
               margin: 0;
               padding: 0 10px;
               color: #c02a2a;
            }
            .line {
               width: 100%;
               border-bottom: 1px solid #c02a2a;
            }
         }
      }
      &__old {
         margin: 20px 0;
      }
      &__clear {
         display: flex;
         button {
            border: none;
            margin-top: 30px;
            width: 100%;
            background: #ff6b3d;
            border-radius: 5px;
            font-weight: 900;
            color: #ffffff;
            padding: 8px;
         }
      }
   }
   .notification {
      position: relative;
      background: #2b2736;
      padding: 10px;
      border-radius: 10px;
      margin: 10px 0;
      color: #776c8f;
      line-height: 25px;
      font-size: 18px;
      &__date {
         margin-bottom: 5px;
         font-size: 16px;
      }
      &__delete {
         position: absolute;
         color: #69519b;
         top: 10px;
         right: 10px;
         background: none;
         border: none;
      }
      .error {
         color: #ff002e;
      }
      .loading {
         margin: 0;
      }
      .text-accent {
         color: #d2bdff;
      }
   }
}


@media (max-width: 1200px) {
   .notifications-page {
      margin: 30px 10px;
   }
}
@media (max-width: 375px) {
   .notifications-page {
      margin: 0;
      padding: 20px 10px;
   }
}