.page-404 {
  height: 79vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  &__h2 {
    color: #fff;
    font-weight: 900;
    font-size: 80px;
    margin: 0;
  }
  &__p {
    color: grey;
  }
}