.profile-page {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  color: #ffffff;
  &__nav-bar {
    ul {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-radius: 10px;
        color: #fff;
        padding: 15px 80px;
        margin: 5px 0;
        white-space: nowrap;
        transition: 0.2s;
        cursor: pointer;
        &:not(.profile-active):hover {
          background: rgba(165, 165, 165, 0.1);
        }
      }
      .profile-active {
        background: #5869ff;
      }
    }
  }
  &__main {
    width: 100%;
    margin: 0 0 0 60px;
  }
  &__profile {
    &__info {
      display: flex;
      &__logo {
        img {
          background: #1f1c27;
          border-radius: 10px;
          padding: 30px 40px;
        }
      }
      &__descr {
        margin: 0 30px;
        .name {
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 30px;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
    &__posts {
      margin-top: 50px;
      &__top {
        display: flex;
        justify-content: space-between;
        img {
          background: #49425c;
          border-radius: 15px;
          padding: 10px;
          cursor: pointer;
        }
      }
      &__post {
        padding: 20px;
        margin: 30px 0;
        background: #2b2736;
        border-radius: 10px;
        .title {
          font-size: 15px;
          color: #776c8f;
          margin-bottom: 5px;
        }
        .text {
          font-size: 20px;
          line-height: 27px;
          color: #cdc0ff;
        }
      }
      .posts-null {
        color: #454545;
        margin: 30px 0 0 0;
        font-weight: 400;
      }
    }
  }
  &__bank {
    &__navs {
      button {
        border: none;
        border-radius: 10px;
        color: #fff;
        background: none;
        padding: 7px 40px;
        transition: 0.2s;
        margin: 0 3px;
        &:not(.nav-active):hover {
          background: rgba(165, 165, 165, 0.1);
        }
      }
    }
    .nav-active {
      background: #5869ff;
    }
    &__user-cards {
      margin: 30px 0;
      .posts-null {
        margin: 0;
        color: #454545;
        font-weight: 400;
      }
      .existing-cars {
        display: grid;
        grid-template-columns: repeat(auto-fill, 370px);
        gap: 30px;
      }
      .issue-cards {
        margin: 50px auto 0;
        .cards {
          display: grid;
          grid-template-columns: repeat(auto-fill, 370px);
          gap: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}

.bank-card {
  padding: 10px;
  height: 215px;
  border-radius: 10px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
    &__title {
      p {
        font-size: 25px;
        line-height: 28px;
      }
    }
    &__icon {
      cursor: pointer;
    }
  }
  &__bottom {
    &__price {
      p {
        font-size: 18px;
        text-align: right;
      }
    }
  }
}

.card-popover {
  cursor: default;
  background: rgba(47, 44, 63, 0.98);
  border: 2px solid #4f4b76;
  .popover-body {
    color: #fff;
    display: flex;
    flex-direction: column;
    h6 {
      font-weight: 900;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
    .btn-buy,
    .btn-buy-green {
      background: #5869ff;
      padding: 10px 50px;
      font-size: 18px;
      margin-top: 15px;
      border-radius: 10px;
      justify-content: center;
      &:hover {
        background: #4e5de4;
      }
    }
    .btn-buy-green {
      background: #0c8f33;
      padding: 10px 80px;
      &:hover {
        background: #117730;
      }
    }
  }
  .popover-arrow::after {
    border-top-color: rgba(47, 44, 63, 0.98);
  }
  .popover-card-buy-error {
    margin-top: 5px;
    color: #ff002e;
    font-weight: 600;
    text-align: center;
  }
}
