@import 'Header';
@import 'Footer';
@import 'Loading';
// pages
@import 'pages/MainPage';
@import 'pages/StatsPage';

// libraries

@import 'bootstrap/dist/css/bootstrap.min.css';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 900;
}

.App {
  background: #15131B;
}

.wrapper {
  padding-top: 70px;
}

a {
  text-decoration: none;
  &::after {
    text-decoration: none;
  }
}
.copy-alert {
  position: fixed;
  bottom: 30px;
  right: 45%;
  color: #fff;
  background: rgba(46, 46, 46, 0.473);
  padding: 10px;
  border-radius: 10px;
}