.bank-card {
  padding: 12px;
  height: 215px;
  border-radius: 10px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
    &__title {
      p {
        font-size: 25px;
        line-height: 28px;
      }
    }
    &__icon {
      img {
        cursor: pointer;
      }
    }
  }
  &__bottom {
    &__price {
      font-size: 18px;
      line-height: 18px;
      text-align: right;
      .balance {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

.bank-card.ratity-bottom {
  .bank-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &__ratity {
      font-size: 22px;
      line-height: 22px;
    }
    &__price {
      font-size: 16px;
      line-height: 16px;
      text-align: right;
    }
  }
}

.default__modal {
  .modal {
    &-body {
      .bank-card {
        height: 110px;
        padding: 5px 8px;
        cursor: pointer;
        border: 5px solid #1e1c27;
        &__top {
          &__title {
            p {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
        &__bottom {
          &__price {
            p {
              font-size: 12px;
            }
          }
        }
        &__active {
          border: 5px solid #533a8f;
        }
      }
      .if-cards-0 {
        margin: 0;
        text-align: center;
        color: gray;
      }
    }
  }
}

@media (max-width: 425px) {
   .bank-card {
      height: 170px;
   }
}