.footer {
  border-top: 1px solid #404040;
  color: #fff;
  padding: 20px 0;
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }
  .logo {
    display: grid;
    align-items: center;
  }
  .text {
    margin-left: 10px;
    p {
      margin: 0;
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    padding: 20px 10px;
  }
}
