.footer {
  border-top: 1px solid #404040;
  color: #fff;
  padding: 20px 0;
  &__wrapper {
    width: 100%;
    display: flex;
  }
  .logo {
    display: grid;
    align-items: center;
  }
  .text {
    margin-left: 10px;
    p {
      margin: 0;
    }
  }
}