.footer {
  border-top: 1px solid #1F1C2F;
  color: #fff;
  padding: 20px 0;
  &__wrapper {
    width: 100%;
    display: flex;
  }
  .logo {
    display: grid;
    align-items: center;
  }
  .text {
    margin-left: 10px;
  }
}