.header {
  background: rgba(21, 19, 27, 0.9);
  border-bottom: 1px solid #404040;
  position: fixed;
  width: 100%;
  z-index: 1000;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  &__nav {
    margin-right: -50px;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      a {
        color: #b0b0b0;
        padding: 30px 35px 30px;
        margin-bottom: -1px;
        &:not(.active) {
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
      .header-active {
        color: #2562ff;
        border-bottom: 2px solid #2562ff;
        box-shadow: inset 0 -7px 10px -11px #2562ff;
      }
    }
  }
  &-btn {
    display: grid;
    align-items: center;
    button {
      padding: 10px 35px;
      border-radius: 7px;
      font-weight: 500;
    }
  }
}

