.rules {
   li {
      list-style-type: none;
      margin: 20px 0;
      font-size: 18px;
   }
   ol {
      padding: 0;
      counter-increment: list1;
      content: counter(list1) '. ';
      counter-reset: list2;
   }
   ol li:before {
      counter-increment: list2;
      content: counter(list1) '.' counter(list2) ' ';
      position: relative;
   }
}
