@import '../../styles/variables.scss';

.login {
   &__content {
      background: $background;
      border: 1px solid $orangeBorder;
      input {
         background: $inputBackground;
         margin: 2px;
         &::placeholder {
            color: $inputPlaceholderColor;
         }
         &:focus-visible {
            border: 2px solid $orangeBorderActive;
            margin: 0;
         }
      }
      .gray-line {
         background: #332e2a;
      }
      .orange-line {
         background: $orangeBorder;
      }
   }
}

.change-pass-modal {
   .modal-dialog {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;
   }
   .modal-content {
      padding: 30px;
      color: #fff;
      background: $modalBackground;
      .modal-header {
         justify-content: center;
         svg {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            path {
               stroke: #fff;
               stroke-linecap: round;
               stroke-linejoin: round;
               stroke-width: 2;
            }
         }
         border: none;
         padding: 0 0 15px 0;
      }
      .modal-body {
         padding: 0;
      }
   }
}
