.btn {
   padding: 10px 40px;
   color: #fff;
   border-radius: 10px;
   font-weight: 700;
   font-size: 18px;
   transition: 0.3s;
}

.active-nav {
   background: #ff7a00;
   color: #fff !important;
   cursor: default !important;
}

.accent-btn {
   background: #ff7a00;
   &:hover {
      background: #dd720d;
   }
}

.white-btn {
   color: #181818;
   background: #fff;
   &:hover {
      color: #181818;
      background: rgba(255, 255, 255, 0.815);
   }
}

.none-bg-btn {
   &:hover {
      color: rgba(255, 255, 255, 0.815);
   }
}

.blur-dark-bg {
   background: rgba(24, 24, 24, 0.5);
   backdrop-filter: blur(35px);
}

.bg-ellipse {
   filter: blur(200px);
   backdrop-filter: blur(15px);
   position: absolute;
   z-index: -100;
   &__orange {
      width: 70%;
      height: 80%;
      top: 15%;
      right: 5%;
      background: rgba(255, 122, 0, 0.12);
   }
   &__yellow {
      position: absolute;
      width: 60%;
      height: 70%;
      top: 0%;
      left: 0%;
      background: rgba(255, 208, 86, 0.09);
   }

   &__green {
      position: absolute;
      width: 40%;
      height: 80%;
      bottom: 10%;
      right: 10%;
      background: rgba(112, 255, 0, 0.2);
   }
}

.tooltip {
   --bs-tooltip-color: #000;
   --bs-tooltip-bg: #fff;
}

.fade-animation {
   -webkit-animation-duration: 0.5s;
   animation-duration: 0.5s;
   -webkit-animation-name: pageSpawn;
   animation-name: pageSpawn;
}

@-webkit-keyframes pageSpawn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
@keyframes pageSpawn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
