// backgrounds
$background: #181818;
$blurBorderColor: #302822;
$inputBackground: #332E2A;

//borders
$orangeBorder: rgba(255, 122, 0, 0.23);
$orangeBorderActive: rgba(255, 122, 0, 0.5);
$blurBackground: rgba(24, 24, 24, 0.5);

// colors
$roleplayColor: #ff8a00;
$creativeColor: #00ff19;
$adventureColor: #b300ff;
$inputPlaceholderColor: #5B534D;